version: '3.8'
services:
  mongo:
    image: mongo:6.0
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: mongo
      MONGO_INITDB_ROOT_PASSWORD: example
    volumes:
      - mongo-data:/data/db
    ports:
      - '27017:27017'

  backend:
    build: ./hospital-management-backend
    depends_on:
      - mongo
    environment:
      - NODE_ENV=development
      - MONGO_URI=mongodb://mongo:27017/hospital
      - PORT=5000
    ports:
      - '5000:5000'
    volumes:
      - ./hospital-management-backend:/usr/src/app

  client:
    build: ./hospital-management-client
    depends_on:
      - backend
    environment:
      - NODE_ENV=development
      - PORT=3000
    ports:
      - '3000:3000'
    volumes:
      - ./hospital-management-client:/app

volumes:
  mongo-data:
    driver: local
